Repository bazelbuild/rules_k8s, pull requests merged in 2020-07, with the labels that each got.

#583 Ensure pass kubeconfig arg for describe and replace command
  k8s/describe.sh.tpl
  k8s/replace.sh.tpl
Labels: approved, lgtm, ok-to-test, size/XS

#582 Add a ".resolve" alias for the resolve task
  examples/hellogrpc/e2e-test.sh
  examples/hellohttp/e2e-test.sh
  k8s/object.bzl
  k8s/objects.bzl
Labels: approved, lgtm, ok-to-test, size/S

#586 Resolve on delete
  examples/resolver/BUILD
  examples/resolver/e2e-test.sh
  examples/resolver/resolver.go
  examples/resolver/template.yaml
  k8s/delete.sh.tpl
  k8s/object.bzl
  k8s/reverse.sh.tpl
  k8s/reverser.py
  test-e2e.sh
Labels: approved, lgtm, ok-to-test, size/L

#592 Allow overriding the stamp inputs
  k8s/object.bzl
Labels: approved, lgtm, ok-to-test, size/S
